@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
}
* {
  color: black;
}

#header {
  color: black;
  background: rgba(21, 21, 21, 0.115);
}

.toggle-nav {
  transform: translateX(-50%) !important;
  transition: transform 0.3s ease-in-out 0s !important;
}
